<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>All Products - RedStore</title>
    <style>
        /* Style for the select element */
        select {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            color: #333;
            appearance: none; /* Remove default styles in some browsers */
            width: 200px; /* Set a specific width */
        }

        /* Style for the options within the select */
        select option {
            padding: 10px;
            font-size: 14px;
            background-color: #f5f5f5;
            color: #333;
        }

        select:hover {
            background-color: #00c3ff75; /* Change the background color on hover */
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'index' %}"><img
                        src="{% static 'base/css/images/logo.png' %}" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'app_name:index' %}">Home</a></li>
                    <li><a href="{% url 'app_name:product' %}">Products</a></li>
                    <li><a href="{% url 'app_name:about' %}">About</a></li>
                    <li><a href="{% url 'app_name:account' %}">Account</a></li>
                    <li><a href="{% url 'app_name:games' %}">Spin Games</a></li>
                </ul>
            </nav>
            <a href="{% url 'app_name:cart' %}"><img src="{% static 'base/css/images/cart.png' %}" width="25px"
                    height="25px"></a>
            <img src="{% static 'base/css/images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
    </div>
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Short by Price</option>
                <option>Short by Popularity</option>
                <option>Short by Rating</option>
                <option>Short by Sale</option>
            </select>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="{% static 'base/css/images/product-1.jpg' %}">
                <h4>Red Printed T Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'base/css/images/product-3.jpg' %}">
                <h4>Black Jeans Pant</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'base/css/images/product-4.jpg' %}">
                <h4>Dark Blue T Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'base/css/images/product-2.jpg' %}">
                <h4>Black Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$100.00</p>
            </div>
        </div>

        <div class="row">
            <!-- Add more product items with similar structure -->

            <div class="col-4">
                <img src="{% static 'base/css/images/product-5.jpg' %}">
                <h4>White Sneakers</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$60.00</p>
            </div>

            <div class="col-4">
                <img src="{% static 'base/css/images/product-6.jpg' %}">
                <h4>Premium Black T Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>

            <div class="col-4">
                <img src="{% static 'base/css/images/product-7.jpg' %}">
                <h4>Blue Casual Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$80.00</p>
            </div>

            <div class="col-4">
                <img src="{% static 'base/css/images/product-8.jpg' %}">
                <h4>Formal Black Watch</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$250.00</p>
            </div>
        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>&#8594;</span>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and IOS Mobiles</p>
                    <div class="app-logo">
                        <img src="{% static 'base/css/images/play-store.png' %}">
                        <img src="{% static 'base/css/images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'base/css/images/logo-white.png' %}">
                    <p>Shop Smart, Live Stylishly: Your One-Stop E-destination for Fashion and Function.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Return Policy</li>
                        <li>Blog post</li>
                        <li>Join Affiliates</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                        <li>Threads</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="copyright">
                <p>CopyRight 2023-Vinoth Website</p>
            </div>
        </div>
    </div>

    <!--js toggle menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

</body>

</html>
